.container(ng-show='showAbout' class='cf')
    .left-link(ng-click='homePage()') home
    .right-link(ng-click='aboutPage()') notes
    .title about
    .col
        .col-title about us
        | The Academy for Math, Science, Engineering Note database. The idea of this website is to compile notes over the years and allow future Academy students to access them when they need to do so.
        br
        br
        | Please contact site owner, Keshav Sota, at <a href="mailto:krsota@gmail.com">krsota@gmail.com</a> if interested in order to add or criticize the notes. Any comments would be appreciated.
        br
        br
        | &copy; Keshav Sota 2015
    .col
        .col-title disclaimer
        | I, the creator, do not take any responsibilities for any misprints on this document. It is at the discretion of the user to utilize this resource as a method for studying for tests.  Please do not blame the creator of this study guide for any questions incorrectly answered. Any reproduction of content of this website IS considered plagiarism and violates academic codes.
