doctype html
html(lang='en', ng-app='amsenotes')
    head
        include ./includes/head.jade
    body(ng-controller='NotesCtrl')
        include ./includes/home.jade
        include ./includes/notes.jade
        include ./includes/about.jade
        include ./includes/foot.jade
